# macOS
.DS_Store

# Xcode
DerivedData/
build/
*.xcuserstate
*.xccheckout
*.xcscmblueprint

# Xcode user settings
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Design assets
Tester One/Image Concepts/

# Workspace checks
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
